[submodule "libs/tracy"]
    path = libs/tracy
    url = https://github.com/wolfpld/tracy.git
[submodule "libs/fmt"]
    path = libs/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "libs/imgui"]
    path = libs/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "libs/asmjit"]
    path = libs/asmjit
    url = https://github.com/asmjit/asmjit.git
[submodule "libs/doctest"]
    path = libs/doctest
    url = https://github.com/doctest/doctest.git